{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
  body {
     background: linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
    {% comment %} background:linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%); {% endcomment %}
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }

   .center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  } 

 .register_container {
    display: flex;
    align-items: center;
  } 

  .left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  } 

   .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  } 

  .form-container {
    background:white;
    padding: 10px 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px; /* Adjust the width as needed */
    margin: auto;
    height:auto; /* Adjust the height as needed */
  }

  h2 {
    text-align: center;
    
  }

  .input_section {
    font-size: 18px;
    
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    {% comment %} margin-top: 10px; {% endcomment %}
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 15px;
    {% comment %} background: linear-gradient(90deg, hsla(277, 79%, 84%, 1) 0%, hsla(204, 95%, 77%, 1) 100%); {% endcomment %}
    background:#ecf0f1;
    color: black;
  }

  input[type="submit"] {
    background: #FFB428;
    color: #ffffff;
    padding: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    width: 50%;
    background:#2ecc71;
    transition: background-color 0.3s;
  }

  input[type="submit"]:hover {
    background-color: #2980b9;
  }

  .error {
    color: #e74c3c;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .login-image {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }
</style>

<div class="center mt-5">
  <div class="container register_container">
    <div class="left-column">
      <img src="{% static 'image/login1.png' %}" alt="" class="login-image">
    </div>
    <div class="right-column">
     
      <form method="post" novalidate class="form-container">
        {% csrf_token %}
        <h2 class="mb-3">Register Account</h2>
        <hr class="mb-5">

        {% for field in form %}
        <div class="form-group">
          <h5 class="input_section">
            {% if field.field.widget.attrs.placeholder %}
            <span class="placeholder-text p-2">{{ field.field.widget.attrs.placeholder }}</span>
            {% endif %}
          </h5>
          {{ field }}
          {% if field.errors %}
          <small class="error">{{ field.errors|striptags }}</small>
          {% endif %}
        </div>
        {% endfor %}
        <div class="text-center">
          <input type="submit" value="Register" class="btn btn-primary full-width" />
        </div>
      
        <hr />
        <!-- Add additional styling or content as needed -->
      </form>
    </div>
  </div>
</div>
{% endblock content %}
