{% extends 'base.html' %}

{% block content %}

<style>

  {
      background:white;
  }
  /* Add your styles for the profile edit page */

  .profile-edit-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .profile-edit-form {
    margin-bottom: 20px;
  }
  
  /* Style each form field */
  .profile-edit-form label {
    display: block;
    font-size:20px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .profile-edit-form input,
  .profile-edit-form textarea,
  .profile-edit-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .profile-edit-form p {
    margin: 0;
  }

 
  
  .messages {
    list-style: none;
    padding: 0;
  }
  
  .messages li {
    margin: 5px 0;
  }
  
  .profile-details {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
  }
  
  .profile-details h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .profile-details p {
    margin: 0;
  }
  

</style>

<div class="container text-white " >
  <div class="rounded-5" style=" background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);">
    <div class="profile-edit-container ">
      <div class="container">
          <h2 class="text-center mt-5">Change Password</h2>
          <hr>
      </div>
      <form method="post" enctype="multipart/form-data" class="profile-edit-form p-5" >
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <div class="text-center">
          <a type="submit" class="btn w-50 fw-bold" style="background:#F03B43;">Done</a>
        </div>

      </form>
  </div>
  
</div>

 

    

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    
  </div>

{% endblock %}
