{% extends "base.html" %}

{% block content %}

<style>
  body{
    background-color:black;
  }

  .container_list_section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    margin: 0 auto;
  }
  
  .card_section {
    position: relative;
    width: 100%;
    height: 500px; /* Fix the typo here */
    background-color: white;
    padding-bottom: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    margin: 20px;
    box-shadow: 0 4px 8px #0000001a;
    border-radius: 5px 15px;
    overflow: hidden;
  }
  
  .img_section,
  .body_section {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .img_section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(0);
    transition: filter 0.5s;
    border-radius: 5px 15px;
  }
  
  .body_section {
    transform: translateY(100%);
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .card_section:hover .img_section {
    filter: blur(5px);
  }
  
  .card_section:hover .img_section + .body_section,
  .body_section:hover {
    transform: translateY(0);
    opacity: 1;
  }
  

</style>

<div class="container  text-center mt-5">
  <h1 class="text-danger mb-3" >Latest Events </h1>
  <a class="btn btn-danger fw-bold" href="{% url 'profile' %}">All</a>
  {% for cat in categories%}
  <a class="btn btn-primary fw-bold" href="{% url 'category_wise' cat.slug %}">{{cat.name}}</a>
{% endfor %}
<hr class="text-white">
</div>


<div class="container container_list_section">
  {% for profile_event in profile_events %} 
    <div class="card_section">
      <div class="img_section">
        {% if profile_event.event.image %}
          <img src="{{ profile_event.event.image.url }}" alt="{{ profile_event.event.event_name }}">
        {% endif %}
      </div>
      <div class="body_section">
        <div class="text-center p-4" style="background-color:#2a454b;">
          <div>
            <h5 class="text-warning">{{ profile_event.event.event_name }}</h5>
            <h5 class="text-danger fw-bold">{{ profile_event.event.attendent}}</h5>
            <h5 class="text-primary">{{ profile_event.event.categories.name }}</h5>
            <p class="fw-bold">Date: {{ profile_event.event.date }}</p>
            <p class="fw-bold">Location: {{ profile_event.event.location }}</p>
          </div>
          <p class="card-text text-white">{{ profile_event.event.description | slice:"0:150" }}</p>

          <div class="button_section">
            <div>
              <a class="btn  btn-primary fs-5 fw-bold w-100 my-3" href="{% url 'details' profile_event.event.id %}">Details</a> 
            </div>
                                                                                          
            <div class="" role="group" aria-label="Event Actions">
    
                <a href="{% url 'remove' profile_event.id %}" class="btn btn-danger me-2">remove</a>
                
          </div>
                

          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock content %}