{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
  body {
    background: linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
    font-family: 'Poppins', sans-serif;
  }

  .about-section {
    
    padding: 50px 0;
    text-align: center;
  }

  

  .about-section p {
    color:white;
    font-size: 18px;
    line-height: 1.6;
  }

  .title {
    color: #fff;
    padding: 50px 0;
    text-align: center;
  }

  .title h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
  }


  hr {
    border-color: white;
    border-width: 3px;
  }
</style>


   


<div class="container">
  <div class="title ">
    <h1 class="text-danger"> ABOUT US </h1>
    <h5 class="text-white">Master of Logistics, Connoisseur of Celebration </h5>
    <hr class="text-white">
  </div>
  <!-- About Us Section -->
  <section class="about-section">
    <div class="container">
      <div class="row align-items-center ">
        <div class="col-lg-6 mx-auto">
          <img src="{% static './image/about1.png' %}" alt="About Us Image" class="img-fluid mb-4">
        </div>
        <div class="col-lg-6 mx-auto text-white">
          <img src="{% static './image/logo.png' %}" alt="About Us Image" class="img-fluid mb-4">
          <p class="">Welcome to <span><a  class=" fw-bold text-warning" href="{% url 'home' %}">Harmoni Event Management</a></span> System , where we turn your events into unforgettable experiences. Our team specializes in creating seamless, stress-free events that leave lasting impressions.</p>
          <p class="">Whether it's a corporate conference, a wedding celebration, or a community gathering, we understand the significance of each event. Our dedicated team works tirelessly to ensure every detail is meticulously planned and executed.</p>
          <p class="">With our user-friendly platform and innovative tools, you can effortlessly plan and coordinate every aspect of your event. From inviting guests to managing schedules, we've got you covered.</p>
          <p class="">Join [Your Event Management System Name] today and let us be a part of your journey in creating extraordinary moments. Make your events truly exceptional!</p>
        </div>
      </div>
    </div>
  </section>

</div>

{% endblock content %}
