{% extends "base.html" %}

{% load static %}

{% block content %}
<style>
  
    body{
      background:black;
    }
  </style>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <!-- Blog Post -->
            <div class="card mb-4">
                <img class="card-img-top" src="https://placekitten.com/750/300" alt="Blog Post Image">
                <div class="card-body">
                    <h2 class="card-title">Blog Post Title</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
                    <a href="#" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on January 1, 2024 by <a href="#">Author</a>
                </div>
            </div>

            <!-- Add more blog posts as needed -->

        </div>
        <div class="col-md-4">
            <!-- Sidebar Widgets -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Add more sidebar widgets as needed -->

        </div>
    </div>
</div>
{% endblock content %}