{% extends "base.html" %}

{% block content %}

<style>
 
</style>

<div class="container rounded " style="background: linear-gradient(90deg, hsla(191, 88%, 81%, 1) 0%, hsla(260, 72%, 82%, 1) 50%, hsla(247, 73%, 69%, 1) 100%);">
  <div class="row my-5 align-items-center justify-content-between px-5">
    <div class="col-lg-5 p-5 mb-4 " style="">
        <div class="">
            <h1 class="">Contect Us</h1>
            <hr>
            <div class="contect_item p-1">
                <h3><i class="fa-solid fa-location-dot"></i> ADDRESS:</h3>
                <p>198 West 21th Street, Suite 721 New York NY 10016</p>
            </div>
            <div class="contect_item  p-1">
                <h3><i class="fa-solid fa-phone"></i> PHONE:</h3>
                <p>+ 1235 2355 98</p>
            </div>
            <div class="contect_item  p-1">
                <h3><i class="fa-solid fa-envelope"></i> EMAIL:</h3>
                <p>info@yoursite.com</p>
            </div>
            <div class="contect_item  p-1">
                <h3><i class="fa-brands fa-webflow"></i> WEBSITE:</h3>
                <p>yoursite.com</p>
            </div>

        </div>
    </div>
    <div class="col-lg-5  p-5 text-white"  style="background-color:#0c2461;">
      <div class="form_contect ">
        <h1 class="">Get in touch</h1>
        <hr>
          <form class="">
              <div class="">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Name</label>
                <input type="password" class="form-control" id="inputPassword3">
              </div>
                <div class="">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                  <input type="email" class="form-control" id="inputEmail3">
                </div>
            
             
                <div class="">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Subject</label>
                  <input type="password" class="form-control" id="inputPassword3">
                </div>
            
           
                <div class="">
                  <label for="exampleFormControlTextarea1" class="form-label">Massage</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
               
           
            
              <div class="mt-2">
                <a  href="#" class="btn btn-primary px-3">Submit</a>
              </div>
             
            </form>

      </div>
      
        
    </div>
</div>

</div>

{% endblock content %}